button {
  cursor: pointer;
}

ul.left-tabs {
  height: 100%;
  width: 35px;
  display: flex;
  float: left;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul.left-tabs li {
  background-color: rgb(200, 200, 200);
  width: 35px;
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-top: 1px solid black;
  cursor: pointer;
  border-right: 1px solid black;
}

ul.left-tabs li:first-of-type {
  border-top: none;
  height: 41px;
}

ul.left-tabs li:nth-of-type(1) {
  background-color: #c7def9;
}

ul.left-tabs li:nth-of-type(2) {
  background-color: #a0c1e8;
}

ul.left-tabs li:nth-of-type(3) {
  background-color: #7ca8dc;
}

ul.left-tabs li:nth-of-type(4) {
  background-color: #5996de;
}

ul.left-tabs li.active {
  background-color: white;
  padding-right: 1px;
  border-right: 0;
}

#tab-sleep {
  font-size: 20px;
}

.tabs-main-section::-webkit-scrollbar { 
  display: none; 
}

.tabs-main-section {
  overflow-y: scroll;
  background-color: white;
  width: calc(100% - 36px);
  height: 164px;
  position: relative;
  float: right;
}

.sug-event {
  border-bottom: 1px solid rgb(240, 240, 240);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  align-items: center;
}

.sug-event:last-of-type {
  border-bottom: none;
}

.sug-event img {
  width: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.sug-event-sub-section span {
  font-size: 14px;
  flex-grow: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.category-color {
  width: 3px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 5px;
}

.sug-event-sub-section {
  display: flex;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
}

.event-button {
  border: none;
  color: white;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  flex-shrink: 0;
}

.event-sub-div {
  height: 50px;
  transform: translateX(-160%);
  overflow: visible !important;
}

.event-sub-button {
  height: 25px;
  width: 50px;
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  position: relative;
  white-space: nowrap;
}

.event-sub-button.todo {
  background-color: pink;
  top: 0;
  font-size: 11px;
}

.event-sub-button.calendar {
  background-color: #003186;
  font-size: 11px;
}

.event-sug-add {
  background-color: var(--green);
  width: 50px;
  overflow: hidden;
  line-height: 50px !important;
  text-align: center;
  z-index: 1;
  position: relative;
}

.event-sug-add span {
  color: white;
}

.event-delete {
  width: 30px;
  transform: translateX(-267%);
  background-color: var(--red);
  font-weight: 500 !important;
}

.event-description {
  width: calc(100% - 37px);
}

.draggable {
  cursor: grab;
}

#add-event {
  margin-left: 36px;
  overflow-y: scroll;
  background: white;
  position: absolute;
  height: calc(100% - 35px);
  max-height: calc(100% - 10px) !important;
  z-index: 2;
  padding: 5px;
}

.hour-pick {
  margin-left: 15px;
}

.add-big-button {
  width: calc(50% - 8px);
  height: 25px;
  text-align: center;
  color: white;
  border: none;
  position: relative;
  /*bottom: calc(-100% + 25px + 5px);*/
  font-weight: bold;
  cursor: pointer;
}

.add-cancel {
  background-color: rgb(189, 50, 50);
  float: left;
}

.add-confirm {
  background-color: rgb(43, 142, 43);
  float: right;
}

.add-warning {
  color: var(--red);
  width: 100%;
  font-size: 10px;
  text-align: center;
  margin-bottom: 12px;
  height: 12px;
}

.category-pick option[value=poi]::before,
.category-color.poi { background-color: #ffd997; }
.category-pick option[value=food]::before,
.category-color.food { background-color: #6fffb6; }
.category-pick option[value=sleep]::before,
.category-color.sleep { background-color: #9191fb; }
.category-pick option[value=personal]::before,
.category-color.personal { background-color: rgb(255, 129, 0); }

.listening {
  position: absolute;
  top: 25px;
  right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid #6893ee !important;
  font-size: 12px;
  text-align: center;
  line-height: 16px !important;
  animation: talking 2s infinite ease-in-out;
  color: #6893ee;
}

@keyframes talking { 
  0%   { width: 16px; height: 16px; font-size: 12px; line-height: 16px; right: 6px; top: 25px; }
  10%  { width: 18px; height: 18px; font-size: 14px; line-height: 18px; right: 5px; top: 24px; }
  20%  { width: 14px; height: 14px; font-size: 10px; line-height: 14px; right: 7px; top: 26px; }
  30%  { width: 18px; height: 18px; font-size: 14px; line-height: 18px; right: 5px; top: 24px; }
  40%  { width: 16px; height: 16px; font-size: 12px; line-height: 16px; right: 6px; top: 25px; }
  50%  { width: 20px; height: 20px; font-size: 16px; line-height: 20px; right: 4px; top: 23px; }
  60%  { width: 18px; height: 18px; font-size: 14px; line-height: 18px; right: 5px; top: 24px; }
  70%  { width: 20px; height: 20px; font-size: 16px; line-height: 20px; right: 4px; top: 23px; }
  80%  { width: 18px; height: 18px; font-size: 14px; line-height: 18px; right: 5px; top: 24px; }
  90%  { width: 18px; height: 18px; font-size: 14px; line-height: 18px; right: 5px; top: 24px; }
  100% { width: 16px; height: 16px; font-size: 12px; line-height: 16px; right: 6px; top: 25px; }
}